.title-carousel{
    -webkit-text-stroke: 1px black;
    color: white;
    opacity: 100;
}
.float-card{
    position: fixed;
    z-index: 3;
    width: 55px;
    height: 55px;
    bottom: 20%;
    left: 75%;
}

.cardStyle{
    background-color:black
}

.divCaro{
    align-content: center
}